
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
  }
  
  .grid-item {
    text-align: center; 
    border: 1px solid #ccc; 
    padding: 20px; 
  }
  
  img {
    max-width: 50%;
  }
  
  .but {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .butwish {
    background-color:orange;
    color:black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .butremove {
    background-color:red;
    color:white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
  }
  